/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  color: #333;
  line-height: 1.6;
}

header {
  background: #003366;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-family: 'Lora', serif;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
}
.contributions {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
}

h2 {
  color: #003366;
  margin-top: 20px;
}

h3 {
  color: #00509e;
  margin-top: 15px;
}

ol, ul {
  margin: 10px 0 20px 40px;
}

.portrait {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

a {
  color: #00509e;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  background: #003366;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  background-color: #45a049;
}

.next {
  float: right;
  
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.next:hover {
  background-color: #45a049;
}